UCService/x64/Release/Main.obj
UCService/x64/Release/ServiceBase.obj
UCService/x64/Release/ServiceInstaller.obj
UCService/x64/Release/UCService.Build.CppClean.log
UCService/x64/Release/UCService.exe
UCService/x64/Release/UCService.iobj
UCService/x64/Release/UCService.ipdb
UCService/x64/Release/UCService.log
UCService/x64/Release/UCService.obj
UCService/x64/Release/UCService.pdb
UCService/x64/Release/UCService.vcxproj.FileListAbsolute.txt
UCService/x64/Release/vc142.pdb
UCService/x64/Release/UCService.tlog/CL.command.1.tlog
UCService/x64/Release/UCService.tlog/CL.read.1.tlog
UCService/x64/Release/UCService.tlog/CL.write.1.tlog
UCService/x64/Release/UCService.tlog/link.command.1.tlog
UCService/x64/Release/UCService.tlog/link.read.1.tlog
UCService/x64/Release/UCService.tlog/link.write.1.tlog
UCService/x64/Release/UCService.tlog/UCService.lastbuildstate
UCService/x64/Release/UCService.tlog/UCService.write.1u.tlog
UCService/Release/Main.obj
UCService/Release/ServiceBase.obj
UCService/Release/ServiceInstaller.obj
UCService/Release/UCService.Build.CppClean.log
UCService/Release/UCService.exe
UCService/Release/UCService.iobj
UCService/Release/UCService.ipdb
UCService/Release/UCService.log
UCService/Release/UCService.obj
UCService/Release/UCService.pdb
UCService/Release/UCService.vcxproj.FileListAbsolute.txt
UCService/Release/vc142.pdb
UCService/Release/UCService.tlog/CL.command.1.tlog
UCService/Release/UCService.tlog/CL.read.1.tlog
UCService/Release/UCService.tlog/CL.write.1.tlog
UCService/Release/UCService.tlog/link.command.1.tlog
UCService/Release/UCService.tlog/link.read.1.tlog
UCService/Release/UCService.tlog/link.write.1.tlog
UCService/Release/UCService.tlog/UCService.lastbuildstate
UCService/Release/UCService.tlog/UCService.write.1u.tlog
UCService/.vs/UCService/v16/.suo
UCService/.vs/UCService/v16/Browse.VC.db
UCService/.vs/UCService/v16/Browse.VC.opendb
UCService/.vs/UCService/v16/ipch/AutoPCH/559cedc637b380f0/UCSERVICE.ipch
UCService/.vs/UCService/v16/ipch/AutoPCH/708453f8680c99cb/SERVICEINSTALLER.ipch
UCService/.vs/UCService/v16/ipch/AutoPCH/99c56b991bccf150/SERVICEBASE.ipch
UCService/.vs/UCService/v16/ipch/AutoPCH/a69817a0ddc044ab/MAIN.ipch
UCService/.vs/UCService/v16/ipch/AutoPCH/a8e9876b19ae31fb/UCSERVICE.ipch
UCService/.vs/UCService/v16/ipch/AutoPCH/9675b45c75c60050/UCSERVICE.ipch
UCService/Debug/Main.obj
UCService/Debug/ServiceBase.obj
UCService/Debug/ServiceInstaller.obj
UCService/Debug/UCService.Build.CppClean.log
UCService/Debug/UCService.exe
UCService/Debug/UCService.ilk
UCService/Debug/UCService.log
UCService/Debug/UCService.obj
UCService/Debug/UCService.pdb
UCService/Debug/UCService.vcxproj.FileListAbsolute.txt
UCService/Debug/vc142.pdb
UCService/Debug/UCService.tlog/CL.command.1.tlog
UCService/Debug/UCService.tlog/CL.read.1.tlog
UCService/Debug/UCService.tlog/CL.write.1.tlog
UCService/Debug/UCService.tlog/link.command.1.tlog
UCService/Debug/UCService.tlog/link.read.1.tlog
UCService/Debug/UCService.tlog/link.write.1.tlog
UCService/Debug/UCService.tlog/UCService.lastbuildstate
UCService/x64/
UCService/.vs/
