.vs/
**/x64/*
**/x86/*
**/Win32/*
**/Debug/*
**/Release/*
**/obj/*
*.vcxproj.user
Installer/bin/*
packages/*

!UCID/*

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build/
out/
