<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="TestPackage" Language="1033" Version="1.0.0.0" Manufacturer="TestPackage" UpgradeCode="8c028f5d-d916-40b5-a678-f66b9789ec2b">
        <?if $(var.Platform) = x64 ?>
            <?define Win64 = "yes" ?>
            <?define ProjectsPlatform = "x64" ?>
            <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
        <?else ?>
            <?define Win64 = "no" ?>
            <?define ProjectsPlatform = "Win32" ?>
            <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
        <?endif ?>
        
        <Package InstallerVersion="200"
                 Compressed="yes"
                 InstallScope="perMachine"
                 InstallPrivileges="elevated"/>
        
		<MajorUpgrade AllowDowngrades="no"
                      DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        
        <MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="TestPackage" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

        <InstallExecuteSequence>
            <ScheduleReboot After="InstallFinalize">SR</ScheduleReboot>
            <ForceReboot After="InstallInitialize">FR</ForceReboot>
        </InstallExecuteSequence>

        <Condition Message="Failed">NOT FAIL</Condition>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.PlatformProgramFilesFolder)">
				<Directory Id="INSTALLFOLDER" Name="TestPackage" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="ProductRegistry">
                <RegistryKey Root="HKLM"
							 Key="Software\Cisco\SecureXYZ\TestPackage">
                    <RegistryValue Type="string" Name="ProductCode" Value="[ProductCode]" KeyPath="yes"/>
                    <RegistryValue Type="string" Name="Config" Value="[INSTALLFOLDER]config.json"/>
                    <RegistryValue Type="string" Name="Version" Value="[ProductVersion]"/>
                </RegistryKey>
            </Component>
            
			<Component Id="ProductComponent">
                <File Id="TextFile1.txt" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(sys.CURRENTDIR)TextFile1.txt" />
			</Component>

            <Component Id="ProductConfig">
                <File Id="config.json" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(sys.CURRENTDIR)config.json" />
            </Component>
		</ComponentGroup>
	</Fragment>
</Wix>
