<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
    <Bundle Manufacturer="!(bind.packageManufacturer.Installer64)" Name="!(bind.packageName.Installer64)" Version="!(bind.packageVersion.Installer64)" UpgradeCode="068683a5-cecc-45f9-94d7-60cf1e0c941b">
        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />

        <Chain>
            <MsiPackage Id="Installer32" InstallCondition='NOT VersionNT64' SourceFile="..\Installer\bin\x86\$(var.Configuration)\en-us\Cisco-UC-Installer-x86.msi" />
            <MsiPackage Id="Installer64" InstallCondition='VersionNT64' SourceFile="..\Installer\bin\x64\$(var.Configuration)\en-us\Cisco-UC-Installer-x64.msi" />
        </Chain>
    </Bundle>
</Wix>
