<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

    <?include $(sys.CURRENTDIR)\Config.wxi?>

    <Product Id="$(var.ProductId)"
			 Name="$(var.ProductName)"
			 Language="$(var.Language)"
			 Version="$(var.Version)"
			 Manufacturer="$(var.Manufacturer)"
			 UpgradeCode="$(var.UpgradeCode)">

        <Package InstallerVersion="200"
                 Compressed="yes"
                 InstallScope="perMachine"
                 InstallPrivileges="elevated"/>

        <Binary Id="CustomActionsDll" SourceFile="$(var.SolutionDir)\Win32\$(var.Configuration)\InstallerCustomActions.dll" />
        <CustomAction Id="DetectInvalidSideGrade" BinaryKey="CustomActionsDll" DllEntry="DetectOlderBuildVersion" />
        <InstallExecuteSequence>
          <Custom Action="DetectInvalidSideGrade" After="FindRelatedProducts">
            WIX_UPGRADE_DETECTED
          </Custom>
        </InstallExecuteSequence>
      
        <!--=
        AllowSameVersionUpgrades:
        When set to no (the default), installing a product with the same version and upgrade code (but different product code) is allowed and treated by MSI as two products. 
        When set to yes, WiX sets the msidbUpgradeAttributesVersionMaxInclusive attribute, which tells MSI to treat a product with the same version as a major upgrade.

        This is useful when two product versions differ only in the fourth version field. 
        MSI specifically ignores that field when comparing product versions, so two products that differ only in the fourth version field are the same product and need this attribute set to yes to be detected.

        Note that because MSI ignores the fourth product version field, 
        setting this attribute to yes also allows downgrades when the first three product version fields are identical. 
        For example, product version 1.0.0.1 will "upgrade" 1.0.0.2998 because they're seen as the same version (1.0.0). 
        That could reintroduce serious bugs so the safest choice is to change the first three version fields and omit this attribute to get the default of no.
        
        Schedule="afterInstallExecute":
        Schedules RemoveExistingProducts between the InstallExecute and InstallFinalize standard actions. 
        This scheduling installs the upgrade product "on top of" the installed product then lets RemoveExistingProducts uninstall any components that don't also exist in the upgrade product. 
        Note that this scheduling requires strict adherence to the component rules because it relies on component reference counts to be accurate during installation of the upgrade product and removal of the installed product.
        If installation of the upgrade product fails, Windows Installer also rolls back the removal of the installed product - in other words, reinstalls it.
        -->
        <MajorUpgrade AllowDowngrades="no"
					  AllowSameVersionUpgrades="yes"
            Schedule="afterInstallExecute"
					  DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        
        <MediaTemplate EmbedCab="yes" />
    
        <Feature Id="UnifiedConnector" AllowAdvertise="no" Display="hidden" Level="1">
            <ComponentGroupRef Id="UnifiedConnectorComponents"/>
            <ComponentGroupRef Id="UCServiceComponents" />
            <ComponentGroupRef Id="UCIDComponents" />
            <ComponentGroupRef Id="UCIDx86Components"/>
            <?if $(var.Platform) = "x64" ?>
              <ComponentGroupRef Id="UCIDx64Components"/>
            <?endif?>
            <ComponentGroupRef Id="UCPMComponents" />
            <ComponentGroupRef Id="CG.ConfigFiles" />
        </Feature>

        <Property Id="UC_BASE_DIRECTORY">
            <RegistrySearch Key="Software\Cisco\SecureXYZ\UnifiedConnector" Root="HKLM" Type="raw" Id="UC_BASE_DIRECTORY_REGSEARCH" Name="Path" />
        </Property>

        <Property Id="ARPSYSTEMCOMPONENT" Value="1" />
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.PlatformProgramFilesFolder)">
                <Directory Id="CISCO_DIRECTORY" Name="$(var.CiscoDirectory)">
                    <Directory Id="SECUREXYZ_DIRECTORY" Name="$(var.SecureXYZDirectory)">
                        <Directory Id="UC_BASE_DIRECTORY" Name="$(var.UnifiedConnectorDirectory)">
                            <Directory Id="UC_CONFIG_DIRECTORY" Name="$(var.UCConfigDirectory)" />
                            <Directory Id="UC_DIRECTORY" Name="$(var.Version)">
                                <Directory Id="UCSERVICE_BASE_DIRECTORY" Name="$(var.ServiceDictory)">
                                    <Directory Id="UCSERVICE_DIRECTORY" Name="$(var.ServiceVersion)" />
                                </Directory>
                                <Directory Id="UCID_BASE_DIRECTORY" Name="$(var.UCIDDirectory)">
                                    <Directory Id="UCID_DIRECTORY" Name="$(var.UCIDVersion)" >
                                        <Directory Id="UCID_DIRECTORY_X86" Name="x86" />
                                        <Directory Id="UCID_DIRECTORY_X64" Name="x64" />
                                    </Directory>
                                </Directory>
                                <Directory Id="UCPM_BASE_DIRECTORY" Name="$(var.UCPMDirectory)">
                                    <Directory Id="UCPM_DIRECTORY" Name="$(var.UCPMVersion)" />
                                </Directory>
                            </Directory>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <Property Id="UC_LOG_DIRECTORY" Value="%ProgramData%\$(var.CiscoDirectory)\$(var.UCLogDirectory)" />
        <ComponentGroup Id="UnifiedConnectorComponents" Directory="UC_BASE_DIRECTORY">
            <Component Id="UC_PRODUCTCODE_REGISTRY" Guid="*">
                <RegistryKey Root="HKLM"
							 Key="Software\Cisco\SecureXYZ\UnifiedConnector">
                    <RegistryValue Type="string" Name="ProductCode" Value="[ProductCode]" KeyPath="yes"/>
                </RegistryKey>
            </Component>

            <Component Id="C.RemoveFiles">
                <RegistryValue Root="HKLM" 
                               Key="Software\Cisco\SecureXYZ\UnifiedConnector" 
                               Name="Path" Type="string" Value="[UC_BASE_DIRECTORY]" KeyPath="yes" />
                <util:RemoveFolderEx On="uninstall" Property="UC_BASE_DIRECTORY" />
                <util:RemoveFolderEx On="uninstall" Property="UC_LOG_DIRECTORY" />
            </Component>
        </ComponentGroup>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="UCServiceComponents" Directory="UCSERVICE_DIRECTORY">
            <Component Id="UCSERVICE_VERSION_REGISTRY" Guid="*">
                <RegistryKey Root="HKLM"
							 Key="Software\Cisco\SecureXYZ\UnifiedConnector\UCSERVICE">
                    <RegistryValue Type="string" Name="Version" Value="$(var.ServiceVersion)" KeyPath="yes"/>
                </RegistryKey>
            </Component>
        
            <Component Id="UCService.exe" Guid="*">
                <File Id="UCService.exe" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.SolutionDir)\$(var.ProjectsPlatform)\$(var.Configuration)\UCService.exe" />
                <ServiceControl Id="StartService" Name="CiscoUnifiedConnector" Start="install" Stop="both" Remove="uninstall" Wait="no" />
                <ServiceInstall Id="ServiceInstaller" Name="CiscoUnifiedConnector" DisplayName="$(var.ProductName)" Type="ownProcess" Start="auto" ErrorControl="normal" Account="[SERVICEACCOUNT]" Password="[SERVICEPASSWORD]" Description="[CustomDescription]">
                    <util:ServiceConfig RestartServiceDelayInSeconds="60" FirstFailureActionType="restart" SecondFailureActionType="restart" ThirdFailureActionType="restart" />
                </ServiceInstall>
            </Component>

            <?if $(var.Configuration) = "Release" ?>
                <Component Id="msvcp140.dll" Guid="*">
                    <File Id="msvcp140.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.IMN_COMMON)\common-windows-build\$(var.Configuration)\$(var.ProjectsPlatform)\bin\VC\msvcp140.dll" />
                </Component>
                <Component Id="msvcp140_1.dll" Guid="*">
                    <File Id="msvcp140_1.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.IMN_COMMON)\common-windows-build\$(var.Configuration)\$(var.ProjectsPlatform)\bin\VC\msvcp140_1.dll" />
                </Component>
                <Component Id="msvcp140_2.dll" Guid="*">
                    <File Id="msvcp140_2.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.IMN_COMMON)\common-windows-build\$(var.Configuration)\$(var.ProjectsPlatform)\bin\VC\msvcp140_2.dll" />
                </Component>
                <Component Id="vcruntime140.dll" Guid="*">
                    <File Id="vcruntime140.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.IMN_COMMON)\common-windows-build\$(var.Configuration)\$(var.ProjectsPlatform)\bin\VC\vcruntime140.dll" />
                </Component>
                <?if $(var.Platform) = "x64" ?>
                    <!-- vcruntime140_1.dll does not have a x86 version, so only install it for x64 -->
                    <Component Id="vcruntime140_1.dll" Guid="*">
                        <File Id="vcruntime140_1.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.IMN_COMMON)\common-windows-build\$(var.Configuration)\x64\bin\VC\vcruntime140_1.dll" />
                    </Component>
                <?endif?>
                <Component Id="ucrtbase.dll" Guid="*">
                    <File Id="ucrtbase.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.WLHBASE)\Redist\ucrt\DLLs\$(var.Platform)\ucrtbase.dll" />
                </Component>
            <?endif?>
            <?if $(var.Configuration) = "Debug" ?>
                <Component Id="msvcp140d.dll" Guid="*">
                    <File Id="msvcp140d.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.IMN_COMMON)\common-windows-build\$(var.Configuration)\$(var.ProjectsPlatform)\bin\VC\msvcp140d.dll" />
                </Component>
                <Component Id="msvcp140_1d.dll" Guid="*">
                    <File Id="msvcp140_1d.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.IMN_COMMON)\common-windows-build\$(var.Configuration)\$(var.ProjectsPlatform)\bin\VC\msvcp140_1d.dll" />
                </Component>
                <Component Id="msvcp140_2d.dll" Guid="*">
                    <File Id="msvcp140_2d.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.IMN_COMMON)\common-windows-build\$(var.Configuration)\$(var.ProjectsPlatform)\bin\VC\msvcp140_2d.dll" />
                </Component>
                <Component Id="vcruntime140d.dll" Guid="*">
                    <File Id="vcruntime140d.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.IMN_COMMON)\common-windows-build\$(var.Configuration)\$(var.ProjectsPlatform)\bin\VC\vcruntime140d.dll" />
                </Component>
                <?if $(var.Platform) = "x64" ?>
                    <!-- vcruntime140_1d.dll does not have a x86 version, so only install it for x64 -->
                    <Component Id="vcruntime140_1d.dll" Guid="*">
                        <File Id="vcruntime140_1d.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.IMN_COMMON)\common-windows-build\$(var.Configuration)\x64\bin\VC\vcruntime140_1d.dll" />
                    </Component>
                <?endif?>
                <Component Id="ucrtbased.dll" Guid="*">
                    <File Id="ucrtbased.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.WLHBASE)\bin\$(var.Platform)\ucrt\ucrtbased.dll" />
                </Component>
            <?endif?>
        </ComponentGroup>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="UCIDComponents" Directory="UCID_DIRECTORY">
            <Component Id="UCID_VERSION_REGISTRY" Guid="*">
                <RegistryKey Root="HKLM"
							 Key="Software\Cisco\SecureXYZ\UnifiedConnector\UCID">
                    <RegistryValue Type="string" Name="Version" Value="$(var.UCIDVersion)" KeyPath="yes"/>
                </RegistryKey>
            </Component>

            <Component Id="UCID_PATH_REGISTRY" Guid="*">
                <RegistryKey Root="HKLM"
							 Key="Software\Cisco\SecureXYZ\UnifiedConnector\UCID">
                    <RegistryValue Type="string" Name="Path" Value="[UCID_DIRECTORY]" KeyPath="yes"/>
                </RegistryKey>
            </Component>

            <Component Id="ucidagent.exe" Guid="*">
                <File Id="ucidagent.exe" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.SolutionDir)Resources\UCID\$(var.Platform)\bin\ucidagent.exe" />
            </Component>

        </ComponentGroup>

        <ComponentGroup Id="UCIDx86Components" Directory="UCID_DIRECTORY_X86">
            <Component Id="ucidapi.dll.x86" Guid="*">
                <File Id="ucidapi.dll.x86" Name="ucidapi.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.SolutionDir)Resources\UCID\x86\bin\ucidapi.dll" />
            </Component>
            <?if $(var.Platform) != "x64" ?>
              <Component Id="ucidcontrolplugin.dll.x86" Guid="*">
                  <File Id="ucidcontrolplugin.dll.x86" Name="ucidcontrolplugin.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.SolutionDir)Resources\UCID\x86\bin\ucidcontrolplugin.dll" />
              </Component>
            <?endif?>
        </ComponentGroup>

        <?if $(var.Platform) = "x64" ?>
          <ComponentGroup Id="UCIDx64Components" Directory="UCID_DIRECTORY_X64">
              <Component Id="ucidapi.dll.x64" Guid="*">
                <File Id="ucidapi.dll.x64" Name="ucidapi.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.SolutionDir)Resources\UCID\x64\bin\ucidapi.dll" />
              </Component>
              <Component Id="ucidcontrolplugin.dll.x64" Guid="*">
                <File Id="ucidcontrolplugin.dll.x64" Name="ucidcontrolplugin.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.SolutionDir)Resources\UCID\x64\bin\ucidcontrolplugin.dll" />
              </Component>
          </ComponentGroup>
        <?endif?>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="UCPMComponents" Directory="UCPM_DIRECTORY">
            <Component Id="UCPM_VERSION_REGISTRY" Guid="*">
                <RegistryKey Root="HKLM"
							 Key="Software\Cisco\SecureXYZ\UnifiedConnector\UCPM">
                    <RegistryValue Type="string" Name="Version" Value="$(var.UCPMVersion)" KeyPath="yes"/>
                </RegistryKey>
            </Component>

            <Component Id="UCPM_DLL_PATH_REGISTRY" Guid="*">
                <RegistryKey Root="HKLM"
							 Key="Software\Cisco\SecureXYZ\UnifiedConnector\UCPM">
                    <RegistryValue Type="string" Name="DllPath" Value="[UCPM_DIRECTORY]PM_MCP.dll" KeyPath="yes"/>
                </RegistryKey>
            </Component>
        
            <Component Id="PM_MCP.dll" Guid="*">
                <File Id="PM_MCP.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.SolutionDir)$(var.ProjectsPlatform)\$(var.Configuration)\PM_MCP.dll" />
            </Component>
            <Component Id="UC_PM.exe" Guid="*">
                <File Id="UC_PM.exe" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.SolutionDir)$(var.ProjectsPlatform)\$(var.Configuration)\UC_PM.exe" />
            </Component>
            <Component Id="PM_Verify.exe" Guid="*">
              <File Id="PM_Verify.exe" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.SolutionDir)$(var.ProjectsPlatform)\$(var.Configuration)\PM_Verify.exe" />
            </Component>
          
            <?if $(var.Configuration) = "Release" ?>
                <Component Id="UCPMmsvcp140.dll" Guid="*">
                  <File Id="UCPMmsvcp140.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.IMN_COMMON)\common-windows-build\$(var.Configuration)\$(var.ProjectsPlatform)\bin\VC\msvcp140.dll" />
                </Component>
                <Component Id="UCPMmsvcp140_1.dll" Guid="*">
                  <File Id="UCPMmsvcp140_1.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.IMN_COMMON)\common-windows-build\$(var.Configuration)\$(var.ProjectsPlatform)\bin\VC\msvcp140_1.dll" />
                </Component>
                <Component Id="UCPMmsvcp140_2.dll" Guid="*">
                  <File Id="UCPMmsvcp140_2.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.IMN_COMMON)\common-windows-build\$(var.Configuration)\$(var.ProjectsPlatform)\bin\VC\msvcp140_2.dll" />
                </Component>
                <Component Id="UCPMvcruntime140.dll" Guid="*">
                  <File Id="UCPMvcruntime140.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.IMN_COMMON)\common-windows-build\$(var.Configuration)\$(var.ProjectsPlatform)\bin\VC\vcruntime140.dll" />
                </Component>
                <?if $(var.Platform) = "x64" ?>
                    <!-- vcruntime140_1.dll does not have a x86 version, so only install it for x64 -->
                    <Component Id="UCPMvcruntime140_1.dll" Guid="*">
                      <File Id="UCPMvcruntime140_1.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.IMN_COMMON)\common-windows-build\$(var.Configuration)\x64\bin\VC\vcruntime140_1.dll" />
                    </Component>
                <?endif?>
                <Component Id="UCPMucrtbase.dll" Guid="*">
                  <File Id="UCPMucrtbase.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.WLHBASE)\Redist\ucrt\DLLs\$(var.Platform)\ucrtbase.dll" />
                </Component>
            <?endif?>
            <?if $(var.Configuration) = "Debug" ?>
                <Component Id="UCPMmsvcp140d.dll" Guid="*">
                  <File Id="UCPMmsvcp140d.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.IMN_COMMON)\common-windows-build\$(var.Configuration)\$(var.ProjectsPlatform)\bin\VC\msvcp140d.dll" />
                </Component>
                <Component Id="UCPMmsvcp140_1d.dll" Guid="*">
                  <File Id="UCPMmsvcp140_1d.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.IMN_COMMON)\common-windows-build\$(var.Configuration)\$(var.ProjectsPlatform)\bin\VC\msvcp140_1d.dll" />
                </Component>
                <Component Id="UCPMmsvcp140_2d.dll" Guid="*">
                  <File Id="UCPMmsvcp140_2d.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.IMN_COMMON)\common-windows-build\$(var.Configuration)\$(var.ProjectsPlatform)\bin\VC\msvcp140_2d.dll" />
                </Component>
                <Component Id="UCPMvcruntime140d.dll" Guid="*">
                  <File Id="UCPMvcruntime140d.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.IMN_COMMON)\common-windows-build\$(var.Configuration)\$(var.ProjectsPlatform)\bin\VC\vcruntime140d.dll" />
                </Component>
                <?if $(var.Platform) = "x64" ?>
                    <!-- vcruntime140_1d.dll does not have a x86 version, so only install it for x64 -->
                    <Component Id="UCPMvcruntime140_1d.dll" Guid="*">
                      <File Id="UCPMvcruntime140_1d.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.IMN_COMMON)\common-windows-build\$(var.Configuration)\x64\bin\VC\vcruntime140_1d.dll" />
                    </Component>
                <?endif?>
                <Component Id="UCPMucrtbased.dll" Guid="*">
                  <File Id="UCPMucrtbased.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.WLHBASE)\bin\$(var.Platform)\ucrt\ucrtbased.dll" />
                </Component>
            <?endif?>
            <?if $(var.Platform) = "x64" ?>
              <Component Id="UCPMlibcrypto_1_1_x64.dll" Guid="*">
                <File Id="UCPMlibcrypto_1_1_x64.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.IMN_COMMON)\common-windows-build\$(var.Configuration)\x64\bin\libcrypto-1_1-x64.dll" />
              </Component>
              <Component Id="UCPMlibssl_1_1_x64.dll" Guid="*">
                <File Id="UCPMlibssl_1_1_x64.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.IMN_COMMON)\common-windows-build\$(var.Configuration)\x64\bin\libssl-1_1-x64.dll" />
              </Component>
            <?else?>
              <Component Id="UCPMlibcrypto_1_1.dll" Guid="*">
                <File Id="UCPMlibcrypto_1_1.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.IMN_COMMON)\common-windows-build\$(var.Configuration)\Win32\bin\libcrypto-1_1.dll" />
              </Component>
              <Component Id="UCPMlibssl_1_1.dll" Guid="*">
                <File Id="UCPMlibssl_1_1.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="$(var.IMN_COMMON)\common-windows-build\$(var.Configuration)\Win32\bin\libssl-1_1.dll" />
              </Component>
            <?endif?>
        </ComponentGroup>
    </Fragment>

    <Fragment>
        <!-- Configuration File Installation -->
        <!-- Copies files from the following properties: SERVICE_CONFIG, ID_CONFIG, PM_CONFIG. -->
        <!-- If Properties are empty, no files will be copied but configs will be missing -->
        <!-- If Properties set but files dont exist, installation will fail -->
        <!-- Config Files are kept on upgrades but uninstalled on uninstall -->
        <ComponentGroup Id="CG.ConfigFiles" Directory="UC_CONFIG_DIRECTORY">
            <!-- Registry Keys That point to each Config File -->
            <!-- The Registry key will still be writen if the file doesnt exist -->
            <Component Id="C.Registry.Config" Guid="*">
                <RegistryKey Root="HKLM" Key="Software\Cisco\SecureXYZ\UnifiedConnector\config">
                    <RegistryValue Type="string" Name="path" Value="[UC_CONFIG_DIRECTORY]" KeyPath="yes"/>
                </RegistryKey>
            </Component>
            
            <Component Id="C.Registry.BSConfig" Guid="*">
                <RegistryKey Root="HKLM" Key="Software\Cisco\SecureXYZ\UnifiedConnector\config">
                    <RegistryValue Type="string" Name="Bootstrapper" Value="[UC_CONFIG_DIRECTORY]$(var.BootstrapperConfigName)" KeyPath="yes"/>
                </RegistryKey>
            </Component>
            
            <Component Id="C.Registry.ServiceConfig" Guid="*">
                <RegistryKey Root="HKLM" Key="Software\Cisco\SecureXYZ\UnifiedConnector\config">
                    <RegistryValue Type="string" Name="Service" Value="[UC_CONFIG_DIRECTORY]$(var.UCServiceConfigName)" KeyPath="yes"/>
                </RegistryKey>
            </Component>
            
            <Component Id="C.Registry.UCPMConfig" Guid="*">
                <RegistryKey Root="HKLM" Key="Software\Cisco\SecureXYZ\UnifiedConnector\config">
                    <RegistryValue Type="string" Name="UCPM" Value="[UC_CONFIG_DIRECTORY]$(var.UCPMConfigName)" KeyPath="yes"/>
                </RegistryKey>
            </Component>

            <!-- Bootstrapper Config Management -->
            <Component Id="C.BootstrapperConfig" Guid="3D8A1726-FCE9-4E4A-BA9E-07F3CF732617">
                <CopyFile Id="CF.BootstrapperConfig" SourceProperty="BS_CONFIG" DestinationDirectory="UC_CONFIG_DIRECTORY" DestinationName="$(var.BootstrapperConfigName)"/>
                <Condition>BS_CONFIG</Condition>
            </Component>

            <Component Id="C.BSConfigName" NeverOverwrite="yes">
              <File Id="bs.json" KeyPath="yes" Checksum="no" DiskId="1" Source="$(var.SolutionDir)Resources\config\bs.json" />
              <Condition>NOT BS_CONFIG</Condition>
            </Component>
            
            <Component Id="C.Remove.BootstrapperConfig" Guid="D37A0F1E-EF10-479F-B1EF-D48D29A20086">
                <RemoveFile Id="RF.BootstrapperConfig" Name="$(var.BootstrapperConfigName)" On="uninstall"/>
            </Component>
            
            <!-- UCService Config Management -->
            <Component Id="C.UCServiceConfig" NeverOverwrite="yes">
                <File Id="uc.json" KeyPath="yes" Checksum="no" DiskId="1" Source="$(var.SolutionDir)Resources\config\uc.json" />
            </Component>
            
            <!-- UCID Config Management -->
            <Component Id="C.UCIDConfigName" NeverOverwrite="yes">
                <File Id="id.json" KeyPath="yes" Checksum="no" DiskId="1" Source="$(var.SolutionDir)Resources\config\id.json" />
            </Component>

            <!-- UCPM Config Management -->
            <Component Id="C.UCPMConfigName" NeverOverwrite="yes">
                <File Id="pm.json" KeyPath="yes" Checksum="no" DiskId="1" Source="$(var.SolutionDir)Resources\config\pm.json" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
