<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

    <?include $(sys.CURRENTDIR)\Config.wxi?>

    <Product Id="$(var.ProductId)"
			 Name="$(var.ProductName)"
			 Language="$(var.Language)"
			 Version="$(var.Version)"
			 Manufacturer="$(var.Manufacturer)"
			 UpgradeCode="$(var.UpgradeCode)">

        <Package InstallerVersion="200"
                 Compressed="yes"
                 InstallScope="perMachine"
                 InstallPrivileges="elevated"/>

        <MajorUpgrade AllowDowngrades="no"
					  AllowSameVersionUpgrades="yes"
					  DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        
        <MediaTemplate EmbedCab="yes" />

        <Feature Id="UCService" Title="Unified Connector Service" Level="1">
            <ComponentGroupRef Id="UCServiceComponents" />
        </Feature>

        <Feature Id="UCID" Title="Unified Connector ID" Level="1">
            <ComponentGroupRef Id="UCIDComponents" />
            <ComponentGroupRef Id="UCIDx86Components"/>
            <ComponentGroupRef Id="UCIDx64Components"/>
        </Feature>

        <Feature Id="UCPM" Title="Unified Connector Package Manager" Level="1">
            <ComponentGroupRef Id="UCPMComponents" />
        </Feature>
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.PlatformProgramFilesFolder)">
                <Directory Id="CISCO_DIRECTORY" Name="$(var.CiscoDirectory)">
                    <Directory Id="SECUREXYZ_DIRECTORY" Name="$(var.SecureXYZDirectory)">
                        <Directory Id="UC_BASE_DIRECTORY" Name="$(var.UnifiedConnectorDirectory)">
                            <Directory Id="UC_DIRECTORY" Name="$(var.Version)">
                                <Directory Id="UCSERVICE_BASE_DIRECTORY" Name="$(var.ServiceDictory)">
                                    <Directory Id="UCSERVICE_DIRECTORY" Name="$(var.Version)" />
                                </Directory>
                                <Directory Id="UCID_BASE_DIRECTORY" Name="$(var.UCIDDirectory)">
                                    <Directory Id="UCID_DIRECTORY" Name="$(var.Version)" >
                                        <Directory Id="UCID_DIRECTORY_X86" Name="x86" />
                                        <Directory Id="UCID_DIRECTORY_X64" Name="x64" />
                                    </Directory>
                                </Directory>
                                <Directory Id="UCPM_BASE_DIRECTORY" Name="$(var.UCPMDirectory)">
                                    <Directory Id="UCPM_DIRECTORY" Name="$(var.Version)" />
                                </Directory>
                            </Directory>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="UCServiceComponents" Directory="UCSERVICE_DIRECTORY">
            <Component Id="UCSERVICE_VERSION_REGISTRY" Guid="*">
                <RegistryKey Root="HKLM"
							 Key="Software\Cisco\SecureXYZ\UnifiedConnector\UCSERVICE">
                    <RegistryValue Type="string" Name="Version" Value="$(var.Version)" KeyPath="yes"/>
                </RegistryKey>
            </Component>
        
            <Component Id="UCService.exe" Guid="*">
                <File Id="UCService.exe" KeyPath="yes" Checksum="yes" DiskId="1" Source="..\$(var.ProjectsPlatform)\$(var.Configuration)\UCService.exe" />
                <ServiceControl Id="StartService" Name="CiscoUnifiedConnector" Start="install" Stop="both" Remove="uninstall" Wait="yes" />
                <ServiceInstall Id="ServiceInstaller" Name="CiscoUnifiedConnector" DisplayName="$(var.ProductName)" Type="ownProcess" Start="auto" ErrorControl="normal" Account="[SERVICEACCOUNT]" Password="[SERVICEPASSWORD]" Description="[CustomDescription]">
                    <util:ServiceConfig FirstFailureActionType="restart" SecondFailureActionType="restart" ThirdFailureActionType="restart" />
                </ServiceInstall>
            </Component>
        </ComponentGroup>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="UCIDComponents" Directory="UCID_DIRECTORY">
            <Component Id="UCID_VERSION_REGISTRY" Guid="*">
                <RegistryKey Root="HKLM"
							 Key="Software\Cisco\SecureXYZ\UnifiedConnector\UCID">
                    <RegistryValue Type="string" Name="Version" Value="$(var.Version)" KeyPath="yes"/>
                </RegistryKey>
            </Component>

            <Component Id="UCID_PATH_REGISTRY" Guid="*">
                <RegistryKey Root="HKLM"
							 Key="Software\Cisco\SecureXYZ\UnifiedConnector\UCID">
                    <RegistryValue Type="string" Name="Path" Value="UCID_BASE_DIRECTORY" KeyPath="yes"/>
                </RegistryKey>
            </Component>

            <Component Id="ucidagent.exe" Guid="*">
                <File Id="ucidagent.exe" KeyPath="yes" Checksum="yes" DiskId="1" Source="..\UCID\$(var.Platform)\bin\ucidagent.exe" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="UCIDx86Components" Directory="UCID_DIRECTORY_X86">
            <Component Id="ucidapi.dll.x86" Guid="*">
                <File Id="ucidapi.dll.x86" Name="ucidapi.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="..\UCID\x86\bin\ucidapi.dll" />
            </Component>
            <Component Id="ucidcontrolplugin.dll.x86" Guid="*">
                <File Id="ucidcontrolplugin.dll.x86" Name="ucidcontrolplugin.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="..\UCID\x86\bin\ucidcontrolplugin.dll" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="UCIDx64Components" Directory="UCID_DIRECTORY_X64">
            <Component Id="ucidapi.dll.x64" Guid="*">
                <File Id="ucidapi.dll.x64" Name="ucidapi.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="..\UCID\x64\bin\ucidapi.dll" />
            </Component>
            <Component Id="ucidcontrolplugin.dll.x64" Guid="*">
                <File Id="ucidcontrolplugin.dll.x64" Name="ucidcontrolplugin.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="..\UCID\x64\bin\ucidcontrolplugin.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="UCPMComponents" Directory="UCPM_DIRECTORY">
            <Component Id="UCPM_VERSION_REGISTRY" Guid="*">
                <RegistryKey Root="HKLM"
							 Key="Software\Cisco\SecureXYZ\UnifiedConnector\UCPM">
                    <RegistryValue Type="string" Name="Version" Value="$(var.Version)" KeyPath="yes"/>
                </RegistryKey>
            </Component>
        
            <Component Id="PM_MCP.dll" Guid="*">
                <File Id="PM_MCP.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="..\$(var.ProjectsPlatform)\$(var.Configuration)\PM_MCP.dll" />
            </Component>
            <Component Id="UC_PM.exe" Guid="*">
                <File Id="UC_PM.exe" KeyPath="yes" Checksum="yes" DiskId="1" Source="..\$(var.ProjectsPlatform)\$(var.Configuration)\UC_PM.exe" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
